{
    email {$ACME_EMAIL}
}

www.{$PUBLIC_DOMAIN} {
    redir https://{$PUBLIC_DOMAIN}{uri} permanent
}

{$PUBLIC_DOMAIN} {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        X-Frame-Options "SAMEORIGIN"
    }

    reverse_proxy frontend:8080
}